{% extends 'base.html.twig' %}

{% block title %}Show Series{% endblock %}

{% block body %}
    <section id="wild-show" class="wild-show">
        <div class="container">
            <div class="media">
                <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
                <div class="media-body">
                    <h1 class="mt-0">{{ program.title }}</h1>
                    <p>{{ program.summary }}</p>
                    <p>Categorie : {{ program.category.name }}</p>
                </div>
            </div>

            <a href="{{ path('wild_index') }}">
                Retour à l'accueil
            </a>
        </div>
    </section>
{% endblock %}